@import url('../../../colors.css');

.link {
  height: 100%;
  padding: 0 20px;
  background-color: var(--prim-col);
  color: var(--text-col);
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.active {
  background-color: var(--prim-act-col) !important;
  color: var(--text-act-col) !important;
}