@import url('../../colors.css');

.bar {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 62px;
  background-color: var(--prim-col);
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}